.img-fluid {
  max-width: 100%;
  height: auto;
}

.popup-overflow-hidden {
  overflow: hidden;

  @include rwd(tab-m) {
    overflow: visible;
  }
}
.d-none{
  display: none;
}
.d-flex{
  display: flex;
}
.justify-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}