// FONT
$font-primary: 'Gotham',
sans-serif;
$font-book: 'Gotham Book',
sans-serif;
$font-bold: 'Gotham Bold', sans-serif;
$font-medium: 'Gotham Medium', sans-serif;
$font-light: 'Gotham Light', sans-serif;
$font-thin: 'Gotham Thin', sans-serif;

// COLORS
$color-primary: #a48764;
$color-primary-1: #705741;
$color-primary-2: #58442d;
$color-secondary: #585857;
$color-teritary: #424849;

$color-white: #ffffff;

$font-primary-color: #565656;
